<div class="client-container-gallery-text">
  <h1>{{title}}</h1>
  <div class="client-container-gallery-button">
    <i class="fa fa-arrow-left fa-1x" (click)="prev()"></i>
    <i class="fa fa-arrow-right fa-1x" (click)="next()"></i>
  </div>
</div>
<div class="container custom-carousel">
  <div class="carousel-container">
    <div class="carousel-slide">
      <div class="carousel-row">
        <div class="col-4" *ngFor="let item of visibleItems[0]" [routerLink]="['/pages/client', item.id]">
          <img [src]="item.picture" [alt]="item.name" width="100%" height="420px"/>
          <h3>{{ item.name }}</h3>
          <p>{{item.city}}, {{item.country}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
