<span class="carousel-title">{{ title }}</span>
<p-carousel [value]="hotels" [numVisible]="3" [numScroll]="1" [circular]="true" [showIndicators]="false" [showNavigators]="true">
  <ng-template let-product #item>
    <div class="p-2">
      <div class="mb-4">
        <div class="relative mx-auto">
          <img src="{{ product.picture }}" [alt]="product.city" class="w-full rounded-border" width="340px" height="340px" />
          <p-tag [value]="product.inventoryStatus" class="absolute" styleClass="dark:!bg-surface-900" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
        </div>
      </div>
      <div class="carousel-card-text">
        <p class="carousel-card-title">{{ product.name }}</p>
        <p class="carousel-card-subtitle">{{ product.city }}, {{ product.country }}</p>
      </div>

    </div>
  </ng-template>
</p-carousel>
