<div class="header-container">
  <div class="container header-content-container">
    <div class="header-content-container-texts">
      <div class="header-content-container-texts-title">
        <h1>Embark Beyond Brasil</h1>
        <p>4 & 5 de Dezembro de 2024, São Paulo</p>
      </div>
    </div>
  </div>
</div>

<div class="event-info-container">
  <div class="container event-info-container-content">
    <div class="event-info-container-content-texts">
      <div class="event-info-container-content-text">
        <h1>A nossa equipe na conferência Inspire</h1>
        <p>
          A Conferência Inspire: Luxury Hospitality é a líder em reflexão do setor de turismo e hotelaria. Em sua 14ª
          edição, a The Global Nomads irá apresentar o Six Senses, Explora e Vestige Collection.
        </p>
      </div>
      <div class="event-info-container-content-image">
        <img ngSrc="assets/img/event/01.jpeg" alt="" height="1600" width="1200">
      </div>
    </div>
  </div>
</div>

<div class="gallery-container">
  <div class="container gallery-container-content">
    <div class="gallery-container-content-infos">
      <div class="gallery-container-content-images">
        <div class="gallery-container-content-images-grid" style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex; width: 100%">
          <div class="gallery-container-content-images-line" style="justify-content: flex-start; align-items: center; gap: 17px; display: inline-flex; width: 100%">
            <img class="small-image" ngSrc="assets/img/about/01.png" alt="" height="416" width="772"/>
            <img class="big-image" ngSrc="assets/img/about/02.png" alt="" height="625" width="1028"/>
          </div>
          <div class="gallery-container-content-images-line" style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 17px; display: inline-flex; width: 100%">
            <img class="big-image" ngSrc="assets/img/about/03.png" height="1072" width="1072" alt=""/>
            <img class="small-image" ngSrc="assets/img/about/04.png" height="600" width="1200" alt=""/>
          </div>
          <div class="gallery-container-content-images-line" style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 17px; display: inline-flex; width: 100%">
            <img class="medium-image" ngSrc="assets/img/about/05.png" height="1280" width="1920" alt=""/>
            <img class="medium-image" ngSrc="assets/img/about/06.png" height="418" width="700" alt=""/>
            <img class="medium-image" ngSrc="assets/img/about/07.png" height="525" width="700" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-container">
  <div class="container footer-container-content">
    <div class="footer-container-infos">
      <div class="footer-container-text">
        <h1>Confira detalhes do evento e da participação da The Global Nomads no site oficial da Inspire</h1>
        <div class="footer-container-text-button">
          <button class="button-ig">VISITAR SITE OFICIAL</button>
        </div>
      </div>
      <div class="footer-container-image">
        <img ngSrc="assets/img/event/02.png" alt="" height="1000" width="1000" style="width: 326px; height: 371px; object-fit: cover; object-position: 50% 50%;">
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
