<div class="team-container">
  <div class="container talk-to-us-container">
    <div class="col-6 talk-to-us-container-text">
      <img src="assets/img/logoAzul.svg" alt="" width="84" height="48">
      <h1>Fale com a nossa equipe</h1>
      <p>Estamos prontos para lhe atender e garantir os melhores resultados para cada cliente.</p>
    </div>
    <div class="col-6">
      <div class="contact-container" style="background-color: #f5f5f5;">
        <div class="contact-content-container">
          <div class="row">
            <div class="contact-content-container-text-contact">
              <form>
                <div class="name-group">
                  <input type="text" placeholder="Nome Completo" class="form-input" />
                  <input type="text" placeholder="Nome da Agência" class="form-input" />
                </div>
                <div class="name-group">
                  <input type="email" placeholder="E-mail" class="form-input" />
                  <input type="tel" placeholder="Telefone" class="form-input" />
                </div>
                <textarea placeholder="Escreva aqui sua mensagem..." class="form-input"></textarea>

                <button type="submit" class="submit-button">ENVIAR MENSAGEM</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-container">
  <div class="container contact-content-container">
    <div class="row">
      <div class="col-5 contact-content-container-text">
        <h1>Fique por dentro das novidades com a nossa newsletter</h1>
      </div>
      <div class="col-7">
        <hr>
      </div>
    </div>
    <div class="contact-content-container-text-contact" style="padding: 0">
      <form>
        <div class="name-group">
          <input type="email" placeholder="E-mail" class="form-input" />
          <button type="submit" class="submit-button">CADASTRARM</button>
        </div>
      </form>
    </div>
    <div class="col-5 contact-content-container-text">
      <p>Todas as novidades serão sempre enviadas para você. Não se preocupe, você poderá cancelar os envios a qualquer momento.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
