<div class="team-container">
  <div class="container talk-to-us-container">
    <div class="col-6 talk-to-us-container-text">
      <h1>Fale com a nossa equipe</h1>
      <p>Lorem ipsum dolor sit amet consectetur dolor </p>
    </div>
    <div class="col-6">
      <img src="assets/img/hotel.png" alt="" width="710px" height="770px">
    </div>
  </div>
  <div class="container contact-web-container">
    <div class="col-4 contact-web-container-text">
      <h1>
        Entre em contato através dos nossos emails
      </h1>
      <p>
        Estamos prontos para lhe atender e garantir os melhores resultados para cada cliente.
      </p>
    </div>
    <hr class="divider"/>
    <div class="col-8 contact-web-container-text-contact">
      <p>Comercial</p>
      <h1 style="padding-bottom: 72px">contato&#64;theglobalnomads.com.br</h1>
      <p>Atendimento ao Cliente</p>
      <h1>ajuda&#64;theglobalnomads.com.br</h1>
    </div>
  </div>
</div>

<div class="contact-container">
  <div class="container contact-content-container">
    <div class="row">
      <div class="col-4 contact-content-container-text">
        <h1>Gostaria que um especialista entrasse em contato?</h1>
        <p>Informe as suas dificuldades, seus interesses ou dúvidas no formulário, que alguém irá retornar por email.</p>
      </div>
      <div class="col-8 contact-content-container-text-contact">
        <form>
          <div class="name-group">
            <input type="text" placeholder="Nome" class="form-input" />
            <input type="text" placeholder="Sobrenome" class="form-input" />
          </div>

          <input type="email" placeholder="Email corporativo" class="form-input" />

          <textarea placeholder="Escreva aqui sua mensagem..." class="form-input"></textarea>

          <button type="submit" class="submit-button">ENVIAR MENSAGEM</button>
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
