<div class="team-container">
  <div class="container talk-to-us-container">
    <div class="col-6 talk-to-us-container-text">
      <h1>Fale com a nossa equipe</h1>
      <p>Entre em contato com a The Global Nomads </p>
    </div>
    <div class="col-6">
      <img src="assets/img/contact/01.png" alt="" width="2560" height="1440" style="width: 710px; height: 770px; object-fit: cover; object-position: 50% 50%;">
    </div>
  </div>
  <div class="container contact-web-container">
    <div class="col-4 contact-web-container-text">
      <h1>
        Entre em contato através dos nossos emails
      </h1>
      <p>
        Estamos prontos para lhe atender e garantir os melhores resultados para cada cliente.
      </p>
    </div>
    <hr class="divider"/>
    <div class="col-8 contact-web-container-text-contact">
      <p>Contato</p>
      <h1 style="padding-bottom: 48px">renata&#64;theglobalnomads.com.br</h1>
      <p>Vendas</p>
      <h1>eloisa&#64;theglobalnomads.com.br</h1>
    </div>
  </div>
</div>

<div class="contact-container">
  <div class="container contact-content-container">
    <div class="row">
      <div class="col-4 contact-content-container-text">
        <h1>Gostaria que um especialista entrasse em contato?</h1>
        <p>Informe as suas dificuldades, seus interesses ou dúvidas no formulário, que alguém irá retornar por email.</p>
      </div>
      <div class="col-8 contact-content-container-text-contact">
        <form>
          <div class="name-group">
            <input type="text" placeholder="Nome Completo" class="form-input" />
            <input type="text" placeholder="Nome da Agência" class="form-input" />
          </div>
          <input type="email" placeholder="E-mail" class="form-input" />
          <textarea placeholder="Escreva aqui sua mensagem..." class="form-input"></textarea>

          <button type="submit" class="submit-button">ENVIAR MENSAGEM</button>
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
