.carousel-container{
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.espaco-carousel{
  padding-bottom: 100px;
}


@media(max-width:1024px){
  .container {
    max-width: 900px !important;

  }
  img{
    height: 350px !important;
  }
}
