<div class="about-container">
  <div class="container about-header-container">
    <div class="about-header-container-text">
      <img src="assets/img/logoAzul.svg" alt="" width="84" height="48">
      <h1>Representar com Responsabilidade</h1>
      <p style="display: flex; flex-direction: column;">
        <span>
        Não há como negar que os nômades foram os primeiros grandes viajantes conhecidos. Esses bravos aventureiros
        descobriram os quatro cantos da Terra, ignorando fronteiras e fazendo do planeta seu lar.
        </span>
        <br>
        <span>
        Hoje, os viajantes buscam novas experiências, aprender <strong>novas culturas, explorar novos destinos,
          viver o genuíno e ir além da aparência.</strong> Mas tudo sem abrir mão do conforto, qualidade e segurança.
        </span>
      </p>
    </div>
    <div class="about-header-container-images">
      <div class="Grid"
           style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
        <div class="Linha1"
             style="justify-content: flex-start; align-items: center; gap: 17px; display: inline-flex">
          <img class="Image" ngSrc="assets/img/about/01.png" alt="" height="416" width="772" style="width: 271px; height: 237px; object-fit: cover; object-position: 50% 50%;"/>
          <img class="Image" ngSrc="assets/img/about/02.png" alt="" height="625" width="1028" style="width: 416px; height: 237px; object-fit: cover; object-position: 50% 50%;"/>
        </div>
        <div class="Linha2"
             style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 17px; display: inline-flex">
          <img class="Image" ngSrc="assets/img/about/03.png" height="1072" width="1072" style="width: 559px; height: 236px; object-fit: cover; object-position: 50% 50%;" alt=""/>
          <img class="Image" ngSrc="assets/img/about/04.png" height="600" width="1200" style="width: 128px; height: 236px; object-fit: cover; object-position: 50% 50%;" alt=""/>
        </div>
        <div class="Linha3"
             style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 17px; display: inline-flex">
          <img class="Image" ngSrc="assets/img/about/05.png" height="1280" width="1920" style="width: 271px; height: 237px; object-fit: cover; object-position: 50% 50%;" alt=""/>
          <img class="Image" ngSrc="assets/img/about/06.png" height="418" width="700" style="width: 271px; height: 237px; object-fit: cover; object-position: 50% 50%;" alt=""/>
          <img class="Image" ngSrc="assets/img/about/07.png" height="525" width="700" style="width: 128px; height: 237px; object-fit: cover; object-position: 50% 50%;" alt=""/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="social-container">
  <div class="container social-content-container">
    <div class="row">
      <div class="col-4"></div>
      <div class="social-content-container-text col-8">
        <h1>
          Há 20 anos, dedicamos à curadoria de marcas no turismo com foco em luxo, sustentabilidade e bem estar.
        </h1>
        <div class="social-content-container-button">
          <button class="button-ig"><a target="_blank" href="https://www.instagram.com/theglobalnomads.br/">INSTAGRAM</a></button>
          <button class="button-ln"><a target="_blank" href="https://www.linkedin.com/company/the-global-nomads/">LINKEDIN</a></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="meet-container">
  <div class="container social-content-container" style="padding-top: 124px">
    <div class="row">
      <div class="col-4"></div>
      <div class="social-content-container-text col-8">
        <p style="display: flex; flex-direction: column;">
        <span>
          Representamos, no Brasil, uma coleção exclusiva de propriedades com um propósito significativo, que sabem
          inovar, são verdadeiras à sua identidade, destacam-se nos destinos onde estão, são conscientes e responsáveis
          pelo entorno natural e social, oferecem atividades autênticas com foco no bem estar e no verdadeiro luxo do
          essencial. Viagens de transformação vão além da aparência e levam o viajante a viver o melhor de cada destino.
          </span>
          <br>
          <span>
            Nosso trabalho é desenvolver o branding e fortalecer essas marcas no mercado brasileiro. Através de
            projetos de marketing, imprensa, co-branding distribuímos a informação e criamos desejo. Educamos o trade,
            trabalhamos em parceria com as agências de viagem e os tour operadores que são os nossos maiores embaixadores.
        </span>
        </p>
      </div>
    </div>
  </div>
  <div class="container propose-container">
    <div class="propose-container-text">
      <h1>Qual é o nosso propósito ?</h1>
      <p>
        Conectar pessoas a experiências de viagem transformadoras, promovendo destinos e propriedades que valorizam o
        bem-estar, o luxo do essencial e a sustentabilidade. Lugares únicos e autênticos, onde cada detalhe é pensado
        para proporcionar uma experiência de viagem significativa e inesquecível.
      </p>
    </div>
    <div class="propose-container-image">
      <img ngSrc="assets/img/about/08.png" alt="" height="619" width="1024" style="width: 442px; height: 426px; object-fit: cover; object-position: 50% 50%;">
    </div>
  </div>

  <div class="container base-container">
    <div class="base-content-container">
      <div class="base-content-container-title">
        <h1>Nossas Conexões</h1>
      </div>
      <div class="base-content-container-image">
        <img ngSrc="assets/img/about/09.png" alt="" height="700" width="700" style="width: 326px; height: 509px; object-fit: cover; object-position: 50% 50%;">
        <img ngSrc="assets/img/about/10.png" alt="" height="480" width="747" style="width: 326px; height: 284px; object-fit: cover; object-position: 50% 50%;">
      </div>
      <div class="base-content-container-text">
        <p>
          Amplo relacionamento com os principais players do mercado de Turismo e uma base de contatos que se amplia
          anualmente. Nosso forte relacionamento com a imprensa e influenciadores, garante o constante alcance de
          nossas representações aos diferentes meios de comunicação e por consequência, aos clientes potenciais.
        </p>
      </div>
    </div>
  </div>

  <div class="container owner-container">
    <div class="owner-container-text">
      <h1>Maria Alice Cavalcanti</h1>
      <p style="display: flex; flex-direction: column;">
        <span>
          Maria Alice é fundadora e CEO da The Global Nomads e tem mais de 25 anos de experiência no mercado hoteleiro de
          luxo.  Formada em Hotelaria (SENAC), com especialização em gastronomia (Florida International University), e
          pós-graduada em Marketing (FAAP).
        </span>
        <br>
        <span>
          Sua carreira começou no Grand Hyatt São Paulo, onde participou do time de abertura do hotel.  Alguns anos
          depois, foi convidada para abrir o escritório do Grupo Explora no Brasil. Durante seus 10 anos como Diretora
          de Vendas & MKT do Explora, converteu o Brasil em um dos mercados mais relevantes para as propriedades Explora.
        </span>
        <br>
        <span>
          Com a necessidade de entender o real significado do luxo e buscar experiências de viagem transformadoras,
          em 2014 fundou a The Global Nomads.
        </span>
      </p>
    </div>
    <div class="owner-container-image">
      <img ngSrc="assets/img/about/Foto Maria Alice.png" alt="" height="715" width="464" style="width: 442px; height: 426px; object-fit: cover; object-position: 50% 50%;">
    </div>
  </div>

  <div class="container time-container">
    <div class="time-content-container">
      <div class="time-content-container-title">
        <h1>Time</h1>
      </div>
      <div class="time-content-container-images">
        <div class="time-content-container-card">
          <img ngSrc="assets/img/about/Maria Alice Cavalcanti.png" alt="" height="800" width="800" style="width: 240px; height: 261px; object-fit: cover; object-position: 50% 50%;" >
          <h1>Maria Alice Cavalcanti</h1>
          <p>Fundadora e CEO</p>
        </div>
        <div class="time-content-container-card">
          <img ngSrc="assets/img/about/Luisa Helena Pires.png" alt="" height="489" width="489" style="width: 240px; height: 261px; object-fit: cover; object-position: 50% 50%;">
          <h1>Luísa Pires</h1>
          <p>Marketing</p>
        </div>
        <div class="time-content-container-card">
          <img ngSrc="assets/img/about/Eloisa Carvalho.png" alt="" height="644" width="644" style="width: 240px; height: 261px; object-fit: cover; object-position: 50% 50%;">
          <h1>Eloisa Carvalho</h1>
          <p>Vendas</p>
        </div>
        <div class="time-content-container-card">
          <img ngSrc="assets/img/about/Renata Duarte.jpeg" alt="" height="1280" width="1064" style="width: 240px; height: 261px; object-fit: cover; object-position: 50% 50%;">
          <h1>Renata Duarte</h1>
          <p>Back Office e Eventos</p>
        </div>
      </div>
      <p>
        Nossa talentosa equipe entende a singularidade e as demandas do mercado de luxo e sabe como criar
        experiências de forma personalizada. Com muitos carimbos no passaporte, a equipe tem olhos para uma nova
        forma de explorar o mundo e suas maravilhas, sendo capaz de aprender de forma produtiva e entregar os
        melhores resultados para cada cliente, sendo um elo de comunicação com o trade.
      </p>
    </div>
  </div>
</div>

<div class="explore-container">
  <div class="container explore-content-container">
    <div class="explore-content-container-text">
      <h1>Be a Global Nomad</h1>
      <p>
        Um Global Nomad está aberto a novas descobertas<br>
        Respeita ao outro e a si mesmo<br>
        Move-se pela vida com leveza<br>
        É consciente do entorno<br>
        Se sente parte da natureza<br>
        Cuida das próximas gerações<br>
        Vive o autêntico e o inesperado<br>
        Trata a si mesmo com amor.<br>
      </p>
    </div>
    <div class="explore-content-container-image">
      <img ngSrc="assets/img/about/11.png" alt="" height="502" width="994" style="width: 442px; height: 426px; object-fit: cover; object-position: 50% 50%;">
    </div>
  </div>
</div>

<app-footer></app-footer>
