<div class="about-container">
  <div class="container about-header-container">
    <div class="about-header-container-text">
      <h1>Representar com Responsabilidade</h1>
      <p>
        Há 20 anos, a The Global Nomads se dedica à curadoria e à identificação de marcas internacionais no turismo
        que compartilham valores como foco no luxo essencial, sustentabilidade e bem-estar. Representamos, no Brasil,
        uma coleção exclusiva de propriedades que se destacam em seus destinos, encantam as pessoas de forma positiva,
        demonstram responsabilidade ambiental e social e oferecem atividades autênticas, criando experiências de
        viagem verdadeiramente inesquecíveis.
      </p>
    </div>
    <div class="about-header-container-images">
      <div class="Grid"
           style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
        <div class="Linha1"
             style="justify-content: flex-start; align-items: center; gap: 17px; display: inline-flex">
          <img class="Image" ngSrc="assets/img/1.png" alt="" height="237" width="271"/>
          <img class="Image" ngSrc="assets/img/2.png" alt="" height="237" width="416"/>
        </div>
        <div class="Linha2"
             style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 17px; display: inline-flex">
          <img class="Image" ngSrc="assets/img/3.png" height="236" width="559"/>
          <img class="Image" ngSrc="assets/img/4.png" height="236" width="128"/>
        </div>
        <div class="Linha3"
             style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 17px; display: inline-flex">
          <img class="Image" ngSrc="assets/img/5.png" height="237" width="271"/>
          <img class="Image" ngSrc="assets/img/6.png" height="237" width="271"/>
          <img class="Image" ngSrc="assets/img/7.png" height="237" width="128"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="social-container">
  <div class="container social-content-container">
    <div class="row">
      <div class="col-4"></div>
      <div class="social-content-container-text col-8">
        <h1>
          Somos especialistas em introduzir e fortalecer marcas no mercado brasileiro
          criando o desejo em novas experiências
        </h1>
        <div class="social-content-container-button">
          <button class="button-ig">INSTAGRAM</button>
          <button class="button-ln">LINKEDIN</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="meet-container">
  <div class="container propose-container">
    <div class="propose-container-text">
      <h1>Qual é o nosso propósito?</h1>
      <p>
        Conectar pessoas a experiências de viagem transformadoras, promovendo destinos e propriedades que valorizem o
        bem-estar e a sustentabilidade em lugares únicos e autênticos, onde cada detalhe é pensado para proporcionar
        uma experiência de viagem significativa e responsável.
      </p>
    </div>
    <div class="propose-container-image">
      <img ngSrc="assets/img/container3about.png" alt="" height="426" width="442">
    </div>
  </div>

  <div class="container base-container">
    <div class="base-content-container">
      <div class="base-content-container-title">
        <h1>Conexões</h1>
      </div>
      <div class="base-content-container-image">
        <img ngSrc="assets/img/container3Aabout2.png" alt="" height="509" width="326">
        <img ngSrc="assets/img/container3Aabout.png" alt="" height="284" width="326">
      </div>
      <div class="base-content-container-text">
        <p>Amplo relacionamento com os principais players do mercado de Turismo e uma base de contatos que se amplia
          anualmente. Nosso forte relacionamento com a imprensa e influenciadores, garante o constante alcance de
          nossas representações aos diferentes meios de comunicação e por consequência, aos clientes potenciais.</p>
      </div>
    </div>
  </div>

  <div class="container time-container">
    <div class="time-content-container">
      <div class="time-content-container-title">
        <h1>Time</h1>
        <p>Nossa talentosa equipe entende a singularidade e as demandas do mercado de luxo e sabe como criar
          experiências de forma personalizada. Com muitos carimbos no passaporte, a equipe tem olhos para uma nova
          forma de explorar o mundo e suas maravilhas, sendo capaz de aprender de forma produtiva e entregar os
          melhores resultados para cada cliente, sendo um elo de comunicação com o trade.
        </p>
      </div>
      <div class="time-content-container-images">
        <div class="time-content-container-card">
          <img ngSrc="assets/img/mariaalice.png" alt="" height="361" width="326">
          <h1>Maria Alice Cavalcanti</h1>
          <p>Fundadora/CEO</p>
        </div>
        <div class="time-content-container-card">
          <img ngSrc="assets/img/mariaalice.png" alt="" height="361" width="326">
          <h1>Luísa Pires</h1>
          <p>Marketing</p>
        </div>
        <div class="time-content-container-card">
          <img ngSrc="assets/img/mariaalice.png" alt="" height="361" width="326">
          <h1>Eloisa Carvalho</h1>
          <p>Vendas</p>
        </div>
        <div class="time-content-container-card">
          <img ngSrc="assets/img/mariaalice.png" alt="" height="361" width="326">
          <h1>Renata Duarte</h1>
          <p>Back office e Coordenadora de eventos</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="explore-container">
  <div class="container explore-content-container">
    <div class="explore-content-container-text">
      <h1>Manifesto</h1>
      <p>
        <strong>Be a Global Nomad</strong><br>
        Um Global Nomad está aberto a novas descobertas<br>
        Respeita ao outro e a si mesmo<br>
        Move-se pela vida com leveza<br>
        É consciente do entorno<br>
        Se sente parte da natureza<br>
        Cuida das próximas gerações<br>
        Vive o autêntico e o inesperado<br>
        Trata a si mesmo com amor.<br>
      </p>
    </div>
    <div class="explore-content-container-image">
      <img ngSrc="assets/img/container3about.png" alt="" height="426" width="442">
    </div>
  </div>
</div>

<app-footer></app-footer>
