<div class="about-container">
  <div class="container about-header-container">
    <div class="about-header-container-text">
      <h1>Uma nova forma de representar</h1>
      <p>Apresentamos ao mercado uma nova forma de viajar e torná-los
        vontade de viver esta experiência com a Marca que representamos.</p>
    </div>
    <div class="about-header-container-images">
      <div class="Grid"
           style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
        <div class="Linha1"
             style="justify-content: flex-start; align-items: center; gap: 17px; display: inline-flex">
          <img class="Image" ngSrc="assets/img/1.png" alt="" height="237" width="271"/>
          <img class="Image" ngSrc="assets/img/2.png" alt="" height="237" width="416"/>
        </div>
        <div class="Linha2"
             style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 17px; display: inline-flex">
          <img class="Image" ngSrc="assets/img/3.png" height="236" width="559"/>
          <img class="Image" ngSrc="assets/img/4.png" height="236" width="128"/>
        </div>
        <div class="Linha3"
             style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 17px; display: inline-flex">
          <img class="Image" ngSrc="assets/img/5.png" height="237" width="271"/>
          <img class="Image" ngSrc="assets/img/6.png" height="237" width="271"/>
          <img class="Image" ngSrc="assets/img/7.png" height="237" width="128"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="social-container">
  <div class="container social-content-container">
    <div class="row">
      <div class="col-4"></div>
      <div class="social-content-container-text col-8">
        <h1>
          Somos especialistas em introduzir e fortalecer marcas no mercado brasileiro
          criando o desejo em novas experiências
        </h1>
        <div class="social-content-container-button">
          <button class="button-ig">INSTAGRAM</button>
          <button class="button-ln">LINKEDIN</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="meet-container">
  <div class="container propose-container">
    <div class="propose-container-text">
      <h1>Qual é o nosso propósito ?</h1>
      <p>
        Representamos e identificamos marcas pelo mundo, que sabem inovar e são
        diferenciadas nos destinos aonde decidem trabalhar, tocam as pessoas de
        forma positiva, são conscientes em relação ao entorno, realizam atividades
        autênticas e oferecem o luxo do essencial.
      </p>
    </div>
    <div class="propose-container-image">
      <img ngSrc="assets/img/container3about.png" alt="" height="426" width="442">
    </div>
  </div>

  <div class="container base-container">
    <div class="base-content-container">
      <div class="base-content-container-title">
        <h1>Temos uma base exclusiva</h1>
      </div>
      <div class="base-content-container-image">
        <img ngSrc="assets/img/container3Aabout2.png" alt="" height="509" width="326">
        <img ngSrc="assets/img/container3Aabout.png" alt="" height="284" width="326">
      </div>
      <div class="base-content-container-text">
        <p>Contamos com uma base de 5 mil contatos exclusivos no Brasil, como classificados, imprensa e
          agências. Atualizada todos os dias, mantemos relação com esses clusters de diferentes maneiras.</p>
      </div>
    </div>
  </div>

  <div class="container time-container">
    <div class="time-content-container">
      <div class="time-content-container-title"><h1>Time</h1></div>
      <div class="time-content-container-images">
        <div class="time-content-container-card">
          <img ngSrc="assets/img/mariaalice.png" alt="" height="361" width="326">
          <h1>Maria Alice Cavalcanti</h1>
          <p>Fundadora</p>
        </div>
        <div class="time-content-container-card">
          <img ngSrc="assets/img/mariaalice.png" alt="" height="361" width="326">
          <h1>Maria Alice Cavalcanti</h1>
          <p>Fundadora</p>
        </div>
        <div class="time-content-container-card">
          <img ngSrc="assets/img/mariaalice.png" alt="" height="361" width="326">
          <h1>Maria Alice Cavalcanti</h1>
          <p>Fundadora</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="explore-container">
  <div class="container explore-content-container">
    <div class="explore-content-container-text">
      <h1>Novas formas de explorar o mundo</h1>
      <p>
        Entendemos a singularidade e exigências<br>
        do mercado de luxo e sabemos como <br>
        operar de maneira personalizada.
      </p>
    </div>
    <div class="explore-content-container-image">
      <img ngSrc="assets/img/container3about.png" alt="" height="426" width="442">
    </div>
  </div>
</div>

<app-footer></app-footer>
