<div class="footer-container-header">
  <div class="container container-header">
    <div class="header-infos">
      <div class="header-infos-tng">
        <img ngSrc="assets/img/Logo_TGN.svg" alt="Logo The Global Nomads" height="80" width="139">
      </div>
      <div class="header-infos-links">
        <div>
          <h1>NOSSAS REDES</h1>
          <a target="_blank" href="https://www.instagram.com/theglobalnomads.br/" ><p style="padding-bottom: 16px;">Instagram <i class="fas fa-arrow-right"></i></p></a>
          <a target="_blank" href="https://www.linkedin.com/company/the-global-nomads/"><p style="padding-bottom: 16px;">Linkedin <i class="fas fa-arrow-right"></i></p></a>
          <a target="_blank" href="https://www.facebook.com/theglobalnomadsbr"><p>Facebook <i class="fas fa-arrow-right"></i></p></a>
        </div>
        <div>
          <h1>MAIS OPÇÕES</h1>
          <a target="_blank" href="#"><p style="padding-bottom: 16px;">Newsletter <i class="fas fa-arrow-right"></i></p></a>
        </div>
      </div>
      <div class="header-infos-virtuoso">
        <img ngSrc="assets/img/logo-virtuoso.svg" alt="Logo The Global Nomads" class="virtuoso-img" height="28"
             width="176">
        <p>A The Global Nomads faz parte do selo Virtuoso, que reune as melhores marcas de turismo de luxo no mundo.</p>
      </div>
    </div>
  </div>
</div>

<div class="footer-container-footer">
  <div class="container container-footer">
    <p>2024 © The Global Nomads. Todos os direitos reservados</p>
    <a href="https://pontype.com">
      <img ngSrc="assets/img/logopontype.svg"
           alt="Logo Pontype"
           height="20"
           width="83">
    </a>  </div>
</div>


