.menu {
  z-index: 1; /* Para controlar a sobreposição */
  position: absolute; /* Fixa a div sobre a div1 */
  top: 0;
  left: 0;
  width: 100%; /* Garante a mesma largura */
  height: 100%; /* Herda a altura da div1 */
}
.container-app {
  position: relative; /* Define o contexto de posicionamento */
}

.conteudo {
  position: relative; /* Pode ser relative ou static */
  width: 100%; /* Ajusta para ocupar toda a largura */
  height: auto; /* Ajusta para acompanhar o conteúdo */
  z-index: 1; /* Para controlar a sobreposição */
}

.nav-menu {
  position: absolute; /* Fixa a div sobre a div1 */
  top: 0;
  left: 0;
  //width: 100%; /* Garante a mesma largura */
  height: 100%; /* Herda a altura da div1 */
  z-index: 2; /* Div 2 ficará acima da Div 1 */
  .control {
    display: flex;
    flex-direction: row !important;
    gap: 36px!important;
    padding-top: 80px!important;
    padding-right: 104px;
    z-index: 9999;
    padding-left: 36px;
    height: 100%; /* Herda a altura da div1 */

    .vertical-line{
      background-color: black;
      width: 1px;
      z-index: 9999;
      height: 99%; /* Herda a altura da div1 */
    }
  }
}


//Menu
li{

  font-family: "Albra Text TRIAL", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.96px;
  cursor: pointer;

  a{
    color: #0F0F0F;
  }

  &:hover{
    text-decoration: underline black;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 24px;
  flex-direction: column;

}

p{
  color: #919191;
  font-family: "Neue Haas Grotesk Display Pro", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

spam{
  color: #1E1E1E;
  text-align: center;
  font-family: "Neue Haas Grotesk Display Pro", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}


.control {
  display: flex;
  flex-direction: row !important;
  gap: 36px!important;
  padding-top: 80px!important;
  padding-right: 104px;

  .vertical-line{
    background-color: black;
    height: 80vh;
    width: 1px;
  }
}
