<div class="container-app" *ngIf="!open">
  <div class="conteudo">
    <router-outlet></router-outlet>
  </div>
  <div class="nav-menu">
    <div class="content text-center">
      <a class="p-2" routerLink="/home">Mapas</a>
      <a class="p-2" routerLink="/pages/about">Sobre</a>
      <a class="p-2" routerLink="/pages/events">Eventos</a>
      <a class="p-2" routerLink="/pages/impress">Imprensa</a>
      <a class="p-2" routerLink="/pages/contact">Contato</a>
      <a class="p-2" routerLink="/pages/event">Evento</a>
      <a class="p-2" routerLink="/pages/client">Cliente</a>
    </div>

    <div class="flex-column control">
      <i class="fa fa-bars fa-2x" (click)="openMenu()"></i>
      <div class="vertical-line"></div>
    </div>
  </div>
</div>

<app-menu *ngIf="open" (close)="closeMenu()"></app-menu>
