<div class="d-flex justify-content-between container d-flex justify-content-center align-items-center menu-overlay" style="width: 100%; height: 100vh">
  <div class="d-flex justify-content-between" style="width: 100%;">
    <div class="d-flex flex-column" style="flex: 1; gap: 20px;">
      <ul>
        <li><a class="p-2" (click)="navigateAndClose('/pages/home')">Home</a></li>
        <li><a class="p-2" (click)="navigateAndClose('/pages/about')">Sobre Nós</a></li>
        <li><a class="p-2" (click)="navigateAndClose('/pages/events')">Eventos</a></li>
        <li><a class="p-2" (click)="navigateAndClose('/pages/impress')">Mídia</a></li>
        <li><a class="p-2" (click)="navigateAndClose('/pages/contact')">Contato</a></li>
      </ul>
    </div>
    <div class="d-flex flex-column" style="flex: 1; gap: 40px;">
      <img ngSrc="assets/img/Logo_TGN.svg" alt="Logo" height="80" width="139">
      <p>Uma coleção exclusiva de propriedades que se destacam em seus destinos, encantam as pessoas de forma positiva, demonstram responsabilidade ambiental e social.</p>
      <div style="display: flex; gap: 24px;">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin"></i>
      </div>
      <span style="padding-top: 60px;">2024 © The Global Nomads. Todos os direitos reservados</span>
    </div>
  </div>
</div>
