<div class="d-flex justify-content-between container d-flex justify-content-center align-items-center menu-overlay" style="width: 100%;">
  <div class="d-flex flex-column control menu-content" style="flex: 1; gap: 20px;">
    <i class="fas fa-close fa-2x" (click)="closeMenu()"></i>
    <div class="vertical-line"></div>
  </div>

  <div class="d-flex justify-content-between" style="width: 100%;">
    <div class="d-flex flex-column" style="flex: 1; gap: 20px;">
      <ul>
        <li><a class="p-2" (click)="navigateAndClose('/pages/home')">Página Inicial</a></li>
        <li><a class="p-2" (click)="navigateAndClose('#')">Coleção</a></li>
        <li><a class="p-2" (click)="navigateAndClose('/pages/about')">Sobre Nós</a></li>
        <li><a class="p-2" (click)="navigateAndClose('/pages/events')">Eventos</a></li>
        <li><a class="p-2" (click)="navigateAndClose('/pages/impress')">Imprensa</a></li>
        <li><a class="p-2" (click)="navigateAndClose('/pages/contact')">Contato</a></li>
      </ul>
    </div>
    <div class="d-flex flex-column" style="flex: 1; gap: 40px;">
      <img ngSrc="assets/img/Logo_TGN.svg" alt="Logo" height="80" width="139">
      <p>A melhor coleção de luxo ao redor do mundo. Somos especialistas em introduzir e fortalecer marcas no mercado
        brasileiro criando o desejo em novas experiências</p>
      <div style="display: flex; gap: 24px;">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin"></i>
      </div>
      <span style="padding-top: 60px;">2024 © The Global Nomads. Todos os direitos reservados</span>
    </div>
  </div>
</div>
