@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
@import url('https://fonts.cdnfonts.com/css/albra-display-trial');


h1{
  color: #0F0F0F;
  font-family: "Albra Text TRIAL", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.96px;
}

p{
  color: #919191;
  font-family: "Neue Haas Grotesk Display Pro", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}


/* You can add global styles to this file, and also import other style files */
